






body{
    color: black;
    background-image:url("IMG_0023.jpg");
   
    background-repeat:no-repeat;
    background-size:cover;
    
    
}

/* NAVIGATION BAR STYLING */
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/

/*nav {
    display: flex;
}  for some reason this is preventing justify content from space between woorking*/

nav ul {
    list-style: none;
    
    
}
nav ul a {
    text-decoration: none;
}
nav ul li:hover {
    color: rgb(255, 255, 255);
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    font-size: 1rem;

    

    /*background-color: mediumslateblue; /*background color of the element that contains the linkk should change*/
    /*margin: 2em;*/

    

}
nav:hover {
    background-color: rgba(255, 192, 204, 0.322);

   
    
}




/* media queries */
/* @media all and (min-width: 40em){
    .card{
        width: 50%;
    }
}
@media all and (min width: 60em){
    .card{
        width: 33.3%
    }
} */

/* .resume {
    display: flex;
    flex-wrap: wrap;
    background: rgb(141, 116, 123);
    padding: 25px 50px 75px 100px;
    min-height: 100vh;
    justify-content: space-between;
} */


/*FLEX WHOLE PAGE*/




h1,h3,p,li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: whitesmoke;
}

/* css grid */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.card {
    background: rgba(255, 255, 255, 0.089);
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
 .grid {
        width: 90%;
        max-width: 1240px;
        margin: 0 auto;
         
        display: grid;
         
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }