nav(class="navbar navbar-expand-sm navbar-light" class="nav")  
        a(class="navbar-brand")
          span(class="navbar-brand mb-0 h1 text-light")
          img(src="/images/turtle.svg" width="30" height="30" alt="")  
          div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            div(class="navbar-nav")
              a(class="nav-item nav-link" class="nav-click" href="/welcome" ) home
              a(class="nav-item nav-link" class="nav-click" href="/portfolio") portfolio
              
              
      
