*{
    font-family: Georgia, 'Times New Roman', Times, serif
    color: rgb(17, 19, 26);
}

nav {
    display: flex;
}

nav a:hover {
    color: seagreen;
    background-color: mediumslateblue; /*background color of the element that contains the linkk should change*/
    

}
nav:hover {
    background-color: pink;
   
    
}
