doctype html
html
  head
    title login
    include stylesheets.pug
    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body(class="text-center")
    include ./partials/nav.pug
    div(class="cover-container d-flex h-100 p-3 mx-auto flex-column")
      header(class="masthead mb-auto")
        div(class="inner")
          h3(class="masthead-brand") 
            main(role="main" class="inner-cover")
              h1(class="h1 mb-3 font-weight-bold" class="landing-heading") Courtney Brothers
            
              div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center" class="landing")
                div(class="col-md-5 p-lg-5 mx-auto my-5")
                  h1(class="display-4 font-weight-bold" class="cover-heading") tech built with 100% love</br> 
                    a(class="btn btn-outline-light" href="/" target="_blank") portfolio


    
      div(class="jumbotron" class="landing")
        div(class="container" class="nav")
          h1(class="display-4 h1 mb-3 font-weight-bold" class="head") software applications that make an impact <br> are made by designs that inspire the imagination
            h1(class="h1 mb-3 font-weight-normal" class="cover-heading")  <br>



          
      div(class="jumbotron" class="white")
        div(class="container")
          h1(class="display-1 h1 mb-3 font-weight-bold") 
            h1(class="lead") contact: courtneywbrothers@gmail.com 
            a(href="https://github.com/CourtneyBrothers" target="_blank") github